# ⚡ Archivos sensibles
.env
*.env.*
fullchain.pem
privkey.pem

# 🐍 Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
*.venv

# 🔄 Docker
*.dockerfile
docker-compose.override.yml
db_data/
volumes/
cache/

# 🗂 Bases de datos
# *.sqlite3
# *.db
# *.sql

# ⚙️ IDEs
.vscode/
.idea/
*.iml

# 📝 Logs
logs/
*.log
nohup.out

# 🐇 Celery
celerybeat-schedule
celerybeat.pid

# 📊 Datos
data/
*.csv
# *.json
*.xml
*.rdf

# 🖼 Archivos del sistema
.DS_Store
Thumbs.db

# 🛑 Backend Flask
oogsj-backend/__pycache__/
oogsj-backend/*.pyc
oogsj-backend/*.pyo
oogsj-backend/venv/

# 🛑 Frontend Svelte
oogsj-frontend/node_modules/
oogsj-frontend/build/
oogsj-frontend/.svelte-kit/
.svelte-kit/
build/
types/
node_modules/
.build/
dist/

# 🚫 Certbot y configuración de producción
certbot/
certbot/conf/
certbot/www/
nginx/nginx.prod.conf
letsencrypt/

# ❌ Otros
sistema-oogsj/
oogsj-web/svelte.config.jsx

# Certbot certs (NO versionar)
certbot/conf/live/
certbot/conf/archive/
certbot/conf/renewal/
