<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mareógrafo - Datos en tiempo real</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Niveles del Mareógrafo</h1>
    <svg id="chart"></svg>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <div id="tooltip" style="
            position: absolute;
            background-color: white;
            padding: 8px;
            border: 1px solid black;
            border-radius: 5px;
            font-size: 12px;
            pointer-events: none;
            display: none;">
        </div>
</body>
</html>
